<div class= "container" *ngFor="let answer of answers; index as i; trackBy: trackBy" >
  <div class="vote-container">
    <div>
      <div (click) = "vote(answer,1)" class="arrow-up"></div>
      <p>{{answer.vote_point}}</p>
      <div (click) = "vote(answer,-1)" class="arrow-down"></div>
    </div>
    <div>
      <p class="text-container description-container">{{answer.text}}</p>
      <li class= "comments-container" *ngFor=" let comments of (answer.comments);  trackBy:trackBy" >
          <p class="text-container">{{comments.text}}</p>
    </li>
    <p>Add comment</p>
</div>
  