.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.text-container{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 25px;
    color: #242729;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    box-shadow: 0px 1px 1px #E5E5E5;
}

.arrow-up , .arrow-down{
    width: 0;
    height: 0;
    border: 0;
}

.arrow-up {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 25px solid #BBC0C4;
  }


.arrow-down {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 25px solid #BBC0C4;
  }

.vote-container{
    display: flex;
    flex-direction: row;
    margin-right : 10px;
}

.comments-container{
    display: flex;
    flex-direction: column;
    padding-left: 13px;
}

.votepoint-container{
    margin: 0;
    margin-left: 2px;
}