.container{
    padding-top: 0.5%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 40%;
}

.form-control{
    padding: 15px;
}

label{
    font-size: 150%;
    font-family: "Times New Roman", Times, serif;
    line-height: 200%;
}

.submit-btn{
  background-color: #4CAF50;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  margin-left : 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}