<div class="container">
  <div *ngIf="isAdmin">
    <h1>You are not Authorized!</h1>
    <hr>
    </div>
    <h1>Login!</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" class="form-control" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" name="password">
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>