.header {
  background: #fafafb;
  color: #555;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  box-shadow: 5px 2px 18px #E5E5E5;
}

.container{
    justify-content: space-between;
    display: inline-flex;
    margin-left: 15%;
    margin-right: 13%;
    width: 100%;
}
.small-screens{
  display: none;
}
.btn {
  background: #fafafb;
  color: #555;
  border: 0;
}
  
.logout-btn {
  margin-top: 1%;
  margin-right : 2%;
  border: none;
  background-color: #2294FB;
  border: none;
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
  width: 67px;
  height: 37px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .big-screens {
    display: none;
  }
  .small-screens{
    display: block;
  }

  .container{
    margin-left: 1%;
    margin-right: 1%;
  }
}