.container{
margin-top: 80px;
margin-left: 15%;
margin-right: 13%;
}

label{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 23px;
    color: #242729;
    font-size: 18px;
}

.post-answer{
    resize: none;
    overflow: auto;
    width: 100%;
    height: 226px;
    outline: none;
}