.sidenav {
    height: 100%;
    width: 164px;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 0px #E5E5E5;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    line-height: 23px;
    font-size: 13px;
    padding-top: 20px;
  }
  
.links{
  width: 100%;
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 23px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0c0d0e;
  text-decoration: none;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {
  .sidenav {
    display: none;
  }
}